.tblTitulosIndividuais {
  width: 95%;
  height: 100%;
  margin-left: 30px;
}

.divTable {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.btnCadastros {
  float: right;
  margin-top: 15px;
  border-radius: 15px;
  background-color: #ef6406;
  color: white;
  font-family: "Proxima Nova"
}

.btnCadastrarGrupo {
  margin-left: 20px;
}

.btnFiltro {
  color: #ef6406;
  vertical-align: middle;
  margin-left: 10px;
}

.btnLupa {
  color: #ef6406;
}

.inpBuscar {
  font-size: 12px;
  margin-top: 15px;
  width: 500px;
  font-family: "Proxima Nova"
}

::ng-deep.mat-form-field-outline-thick {
  color: #6e6e6e !important;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
  font-family: "Proxima Nova"
}

.mat-header-cell {
  color: #6e6e6e !important;
  font-weight: 600 !important;
  font-size: 18px;
  font-family: "Proxima Nova"
}

.mat-cell {
  font-size: 14px;
  color: #000000;
  font-family: "Proxima Nova"
}

@media (max-width: 600px) {
  .tblTitulosIndividuais {
    max-width: 600px;
    width: 100%;
    height: 100%;
    margin-left: 0px;
  }

  .mobile-label {
    width: 130px;
    display: inline-block;
    color: #6e6e6e !important;
    font-weight: 600 !important;
    font-size: 20px;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 0px 24px;
    min-height: 20px;
  }

  .inpBuscar {
    margin-top: 0px;
    width: 90%;
    margin-left: 2px;
  }

  .btnCadastros {
    float: left;
    margin-top: 5px;
    border-radius: 15px;
    background-color: #ef6406;
    color: white;
    width: 47%;
    margin-left: 5px;
  }

  .btnCadastrarGrupo {
    margin-left: 0px;
    float: right;
    margin-right: 5px;
  }

  .btnFiltro {
    margin-left: 5px;
  }

  mat-cell:first-of-type,
  mat-header-cell:first-of-type,
  mat-footer-cell:first-of-type {
    padding-left: 0px;
  }
}
